GITHUB_TOKEN=
START_TIME=2023-01-01T00:00:00Z
END_TIME=2023-01-02T00:00:00Z

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=postgres
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=somerandomstringfordevelopment
